# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Users\klelia\CLionProjects\parallel-ML-Lab-k-means\.idea/dataSources/
/dataSources.local.xml
